version: '3.8'

services:
  raza-pets-ms:
    build: .
    container_name: raza-pets-ms
    ports:
      - "8001:8000"
    depends_on:
      raza-pets-db:
        condition: service_healthy
    networks:
      - autenticador_network

  raza-pets-db:
    image: mysql:9.0
    container_name: raza-pets-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: petdev
      MYSQL_USER: petdev
      MYSQL_PASSWORD: petdev
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - autenticador_network
    restart: always
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  autenticador_network:
    external: true

volumes:
  mysql_data:
